.food-container{
    width:1200px;
    height:600px;
    margin:0 auto;
    background-color:bisque;
    
    
}
.food-sub-container{
    display:flex;
    gap:50px;
}
.food-1{
    width:300px;
    height:280px;
    
    
}
.food-1 img{
    width:100%;
    height:100%;
    margin-left:50px;
}
.food-content{
    width:400px;
    height:280px;
    text-align: justify;
    padding:29px;
}

@media screen and (max-width:600px) {
    .food-sub-container{
        flex-direction: column;
    }
    .food-sub-container{
        background-color:bisque;
    }
}