.flex-container{
    width:90vw;
    height:80vh;
    border:2px solid green;
    margin:0 auto;
    display:flex;
    gap:10vw;
}

.flex-right{
    width:50vw;
    height:100%;
    background-color:yellow;
    border:2px solid red;
}
.flex-left{
    width:30vw;
    height:100%;
    background-color:bisque;
    border:2px solid red;
}

@media screen and (max-width:576px) {
    .flex-container{
        flex-direction: column-reverse;
        gap:5vh;
    }
    .flex-left{
        width:90vw;
        height:30%;

    }
    .flex-right{
        width:90vw;
        height:70%;
    }
}